<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Museum</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-title class="bold">
      Most Popular
    </ion-title>
    <ion-card>
      <img src="https://th-thumbnailer.cdn-si-edu.com/qyS2vjwLErXxbK8XYy3nZIZMDIc=/fit-in/1600x0/https://tf-cmsv2-journeys-media.s3.amazonaws.com/filer/f0/a6/f0a6c5f7-85aa-4fbc-857d-ab9c961bce44/ita_florence_accademia_david_dt_l_40271587.jpg">
      <ion-card-title>Michaelangelo </ion-card-title>
      <ion-card-subtitle>Michelangelo di Lodovico Buonarroti Simoni, known as Michelangelo, was an Italian sculptor, painter, architect, and poet of the High Renaissance. </ion-card-subtitle>
    </ion-card>

    <ion-card>
      <img src="https://media.npr.org/assets/img/2012/02/02/mona-lisa-copy_custom-cf935c261c640b9ff7e214059a0328c880c22f50.jpg">
      <ion-card-title>Mona Lisa </ion-card-title>
      <ion-card-subtitle>The Mona Lisa is a half-length portrait painting by Italian artist Leonardo da Vinci. Considered an archetypal masterpiece of the Italian Renaissance, it has been described as "the best known, the most visited, the most written about, the most sung about, the most parodied work of art in the world".</ion-card-subtitle>
    </ion-card>

    <ion-card>
      <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/42163/1838837/main-image">
      <ion-card-title>Gautam Buddha </ion-card-title>
      <ion-card-subtitle>Siddhartha Gautama, most commonly referred to as the Buddha, was a wandering ascetic and religious teacher who lived in South Asia during the 6th or 5th century BCE and founded Buddhism. </ion-card-subtitle>
    </ion-card>

    <ion-card>
      <img src="https://images.metmuseum.org/CRDImages/as/original/DT240.jpg">
      <ion-card-title>Nataraja </ion-card-title>
      <ion-card-subtitle>What is a dancing Shiva?
        The cosmic dance of Shiva symbolises the interplay of dynamic and static divine energy flow, containing the five principles of eternal energy — creation, preservation, destruction, illusion and emancipation</ion-card-subtitle>
    </ion-card>
  </ion-list>
</ion-content>
