* {
    font-family: 'Lora', serif;
  }

  ion-card{
    padding: 0.3rem;
    box-shadow: 0;
  }
  ion-card-title{
font-size: 2rem;

    padding: .5rem;
    padding-bottom: 0rem;
  }
  ion-card-subtitle{
    padding: .5rem;
    margin: .5rem 0;
  }
  

  .bold{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0;
  }
  